<ion-header>
  <ion-toolbar>
    <ion-title>ADD CONTACT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="addContactForm" (submit)="onSubmit(addContactForm.value)">
    <ion-item>
      <ion-label position="floating">Contact Number</ion-label>
      <ion-input type="tel" formControlName="mobile"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Date</ion-label>
      <ion-datetime displayFormat="D MMM YYYY H:mm" formControlName="date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea type="text" formControlName="description"></ion-textarea>
    </ion-item>
    <ion-button type="submit" color="dark"  expand="block">Add Contact</ion-button>
  </form>
</ion-content>